<main>
  <div class="main-container">
    <div>
      <form class="form js-search-form" action="">
        <input
          class="input-title js-search-title"
          type="text"
          name="title"
          id="title"
          placeholder="Nombre de la serie"
        />
        <button class="btn js-btn-search">Search</button>
      </form>
      <div>
        <ul class=" favorites-list js-favorites-list ">
          Mis series favoritas

          </li>
        </ul>
      </div>
    </div>
    <div class="results-container js-search-results-container">
      <ul class="results js-search-results">
        <li ></li>

      </ul>
    </div>
  </div>
</main>
