<main>
  <div class="main-container">
    <section>
      <div>
        <div class="search-form-container">
          <form class="search-form js-search-form" action="">
            <input
              class="search-input-title js-search-title"
              type="text"
              name="title"
              id="title"
              placeholder="serie title"
            />
            <button class="search-btn js-btn-search">Search</button>
          </form>
        </divclass="search-for>
        <div>
          <div>
            <h3 class="list-favorite-title">
              <i class="far fa-heart"></i> Favorites series
            </h3>
            <ul class="list-favorite js-favorites-list"></ul>
          </div>
          <div class="ist-favorite-element-delete-div"></div>
        </div>
      </div>
    </section>
    <section>
      <div class="results js-search-results-container">
        <ul class="results-list js-search-results"></ul>
      </div>
    </section>
  </div>
</main>
