<main>
  <div class="main-container">
    <div>
      <form class="search-form js-search-form" action="">
        <input
          class="search-input-title  js-search-title"
          type="text"
          name="title"
          id="title"
          placeholder="Nombre de la serie"
        />
        <button class="search-btn js-btn-search">Search</button>
      </form>
      <div>
        <h3 class="list-favorite-title">Mis series favoritas</h3>
        <ul class=" list-favorite js-favorites-list "></ul>
      </div>
    </div>
    <div class="results js-search-results-container">
      <ul class="results-list js-search-results"></ul>
    </div>
  </div>
</main>
