.main-container {
  display: flex;
  flex-direction: row;
  background-color: lightcyan;
  justify-content: space-evenly;
}

.favorites-list {
  height: 80vh;
  width: 220px;
  margin-top: 25px;
  font-family: $font-mainText;
}
.results-container {
  display: flex;
  flex-direction: row;
  height: 80vh;
  margin: 30px;
  width: 1350px;
  border: 3px solid coral;
  background-color: lightgoldenrodyellow;
}
.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.list-favorite-element {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  background-color: cornflowerblue;
}
.list-favorite-element-title {
  padding: 5px;
}
.list-favorite-element-image {
  width: 106px;
  height: 146px;
  border: 3px solid red;
}

.results-image {
  width: 216px;
  height: 301px;
  border: 3px solid coral;
}

.list-search-element {
  padding: 20px 20px 0 20px;
  background: pink;
  margin: 10px 10px 10px 10px;
}

.favorite {
  padding: 20px 20px 0 20px;
  background: red;
  margin: 10px 10px 10px 10px;
}
