body {
  height: 100vh;
  background: $background-body;
}

.main {
  &-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  &-title-text {
    color: $font-yellow;
    font-family: $font-main;
    margin-top: 10px;
    text-shadow: 0 0 30px rgba(245, 214, 76, 0.746);
    font-size: 50px;
  }
}

.search {
  &-form {
    width: 400px;
    margin: 0 0px 0 25px;
    font-family: $font-mainText;
  }
  &-input-title {
    font-size: 20px;
    margin: 0 20px 20px 0;
  }
  &-btn {
    font-size: 20px;
    font-family: $font-mainText;
    width: 100px;
    border-radius: 50px;
    background: $font-yellow;
    padding: 5px;
    &:hover {
      box-shadow: 0 0 30px rgba(245, 214, 76, 0.746);
    }
  }
}

.list-favorite {
  margin: 0 25px 0 25px;
  &-title {
    letter-spacing: 2px;
    margin: 0 25px 0 25px;
    color: $font-yellow;
    font-family: $font-mainText;
  }
  &-element {
    width: 300px;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    background: linear-gradient(
      to right,
      $font-yellow,
      rgba(249, 192, 4, 0.664)
    );
    border-radius: 10px;
    &-title {
      flex-wrap: wrap;
      width: 200px;
      padding: 5px;
      font-family: $font-mainText;
      font-weight: 900;
      color: #3a3c3f;
    }
    &-image {
      width: 106px;
      height: 146px;
      border: 2px solid $font-yellow;
      border-radius: 10px;
    }
    &-delete {
      padding: 5px;
      margin-top: 25px;
      font-size: 20px;
      width: 200px;
      border: 0;
      border-radius: 50px;
      background: $button-orange;
      font-family: $font-mainText;
      &:hover {
        box-shadow: 0 0 30px rgba(245, 214, 76, 0.746);
      }
    }
  }
}

.results {
  display: flex;
  flex-direction: row;
  margin: 30px;
  &-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.list-search-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px 0 20px;
  background: $font-grey;
  margin: 10px 10px 30px 10px;
  border-radius: 10px;
  color: $font-yellow;
  &-title {
    margin: 10px 10px 30px 10px;
    font-size: 25px;
    width: 210px;
    font-family: $font-mainText;
  }
}

.favorite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px 0 20px;
  margin: 10px 10px 30px 10px;
  border-radius: 10px;
  background: $font-yellow;
  font-family: $font-mainText;
  font-weight: 900;
  color: $font-grey;
}

.fas {
  font-size: 20px;
  color: $font-black;
  text-align: center;
  margin: 5px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .search {
    &-form {
      width: 200px;
    }
    &-input-title {
      font-size: 14px;
      margin: 0 20px 20px 0;
    }
    &-btn {
      font-size: 14px;
      width: 60px;
      margin-bottom: 20px;
    }
  }
  .list-search-element {
    padding: 10px 10px 0 10px;
    &-title {
      font-size: 20px;
    }
  }
  .results {
    width: 70vw;
    margin: 5px;
  }

  .favorite {
    padding: 10px 10px 0 10px;
    &-title {
      font-size: 20px;
    }
  }
  .list-favorite {
    &-element {
      width: 100px;
      width: 20vw;
      &-title {
        width: 150px;
        font-size: 14px;
        padding: 5px;
      }
      &-image {
        width: 75px;
        height: 103px;
        border: 1px solid $font-yellow;
      }
      &-delete {
        margin-top: 15px;
        font-size: 16px;
        width: 150px;
      }
    }
  }
}
