// fonts
$font-main: 'Roboto', sans-serif;
$font-mainTitle: 'Montserrat', sans-serif;
$font-mainText: 'Quicksand', sans-serif;
$font-mainSubtitle: 'Dekko', cursive;

// colors
$color-white: #f3f4f5;
$color-secondary: #999;
// colors
$gmms-yellow: #cca00e;
$gmms-blue: #136bcb;
$gmms-red: #e31b3b;
$gmms-green: #2c8c0c;
$gmms-purple: #572494;
$gmms-background: #e4d3e6;
$gmms-purple-medium: #864bc5;
$gmms-podium-textColor: #eddac1;
$gmms-podium-textBack: #3c1c74;
