// fonts
$font-main: 'Roboto', sans-serif;
$font-mainTitle: 'Montserrat', sans-serif;
$font-mainText: 'Quicksand', sans-serif;

// colors
$font-black: black;
$background-body: #232526;
$yellow: #f9be04;
$grey: #606468;
$button-orange: #ff6600;
